h1{ color: #0000ff
     
}
span {
    background-color: #0000ff}
    span {
        color:#e3e3e3
    }

.box { background-color: #e3e3e3}
.box { color: #001e32 }

#box2 {
    background-color:#001e32}
    #box2 { color: #e3e3e3}
    